MONGODB_URL=PASTE_YOUR_MONGODB_URL_HERE

ADMIN_USER=admin
ADMIN_PASS=CHANGE_THIS_TO_A_STRONG_PASSWORD
ADMIN_AUTH_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=example@gmail.com
SMTP_PASS=CHANGE_THIS_TO_A_STRONG_PASSWORD

SMTP_FROM="NepalMotor <example@gmail.com>"
SMTP_TO=example@gmail.com

SEED_TOKEN=CHANGE_THIS_TO_A_LONG_RANDOM_TOKEN
ALLOW_SEED_IN_PROD=false
