MONGODB_URL=PASTE_YOUR_MONGODB_URL_HERE

ADMIN_USER=admin
ADMIN_PASS=CHANGE_THIS_TO_A_STRONG_PASSWORD

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=woosky101@gmail.com
SMTP_PASS=lhkq wsjm oivr nmdu

SMTP_FROM="NepalMotor <woosky101@gmail.com>"
SMTP_TO=woosky101@gmail.com